/* PSPDFKit Overrides */
.PSPDFKit-Form-Creator-Toolbar,
.PSPDFKit-Form-Creator-Popover {
  display: none !important;
}

.PSPDFKit-Annotation-Widget-Signature > figure,
.PSPDFKit-Annotation-Widget-Signature-Badge {
  display: none;
}

/* Custom Renderers */
.custom-annotation-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}

.custom-signature-wrapper {
  border: 0.5px solid #dbdee4;
}

.custom-annotation-name {
  background-color: #fff;
  color: #3d434e;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-inline: 3px;
}

.signed .custom-annotation-wrapper {
  visibility: hidden;
  display: none !important;
}

.custom-signature {
  align-items: center;
  padding: 9px 0 5px;
}

.custom-signature-label {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 800;
  opacity: 0.8;
  margin-top: 0px;
}

/* After Sign box CSS */

.signature-box-demo {
  position: relative;
  display: inline-block;
  background-color: transparent;
  /* border: 1px solid rgb(180, 184, 228); */
  border-radius: 10px;
}

.signature-label-demo {
  position: absolute;
  top: -45%;
  left: 5%;
  font-size: 8px;
  background-color: transparent;
  padding: 0;
  color: #555
}

.signature-id-demo {
  position: absolute;
  top: 92%;
  left: 2%;
  font-size: 8px;
  background-color: transparent;
  padding: 0 5px;
  color: #555;
}

.signature-box-demo::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 30px;
  height: 60px;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 20px 0 0 0;
  border-bottom: none;
  border-right: none;
}

.signature-box-demo::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: -15px;
  width: 80px;
  height: 40px;
  border: 1px solid rgb(207, 37, 37);
  border-radius: 0 0 0 20px;
  border-top: none;
  border-right: none;
}